section {
    padding-top: 20px;
    padding-bottom: 20px;
}
.carousel-control-prev-icon {
background-image: url(../image/penis-7684.svg);
}
.carousel-control-next-icon {
background-image: url(../image/penis-7684.svg);
}
.carousel-control-next, .carousel-control-prev {
    width: 20px;
}
.carousel-control-prev {
    left: -35px;
}
.carousel-control-next {
    right: -35px;
}